.sBase {
	POSITION: relative; WIDTH: 100%; HEIGHT: 100%; OVERFLOW: hidden
}
.sHeader {
	Z-INDEX: 3; POSITION: absolute; BACKGROUND-COLOR: #ffffff
}
.sHeaderInner {
	POSITION: relative
}
.sHeaderInner TABLE {
	BACKGROUND-COLOR: #ffffff; BORDER-SPACING: 0px 0px !important; WIDTH: 1px !important; BORDER-COLLAPSE: collapse !important; TABLE-LAYOUT: fixed !important
}
.sFHeader {
	Z-INDEX: 4; POSITION: absolute; OVERFLOW: hidden
}
.sFHeader TABLE {
	BACKGROUND-COLOR: #ffffff; BORDER-SPACING: 0px 0px !important; WIDTH: 1px !important; BORDER-COLLAPSE: collapse !important; TABLE-LAYOUT: fixed !important
}
.sData {
	Z-INDEX: 2; POSITION: absolute; BACKGROUND-COLOR: #ffffff; OVERFLOW: auto
}
.sData TABLE {
	BORDER-SPACING: 0px 0px !important; WIDTH: 1px !important; BORDER-COLLAPSE: collapse !important; TABLE-LAYOUT: fixed !important
}
.sFData {
	Z-INDEX: 1; POSITION: absolute; BACKGROUND-COLOR: #ffffff
}
.sFDataInner {
	POSITION: relative
}
.sFData TABLE {
	BORDER-SPACING: 0px 0px !important; WIDTH: 1px !important; BORDER-COLLAPSE: collapse !important; TABLE-LAYOUT: fixed !important
}
.sDefault {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, sans serif; FONT-SIZE: 0.8em; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.sDefault TH {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 3px
}
.sDefault TD {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 3px
}
.sDefault TH {
	BORDER-BOTTOM-COLOR: #c5c5c5; BACKGROUND-COLOR: #e5e5e5; BORDER-TOP-COLOR: #c5c5c5; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.sDefault-Fixed {
	BORDER-BOTTOM-COLOR: #c5c5c5; BACKGROUND-COLOR: #eeeeee; BORDER-TOP-COLOR: #c5c5c5; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.sSky {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, sans serif; FONT-SIZE: 0.8em; COLOR: #fff300; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.sSky TH {
	BORDER-BOTTOM: #9eb6ce 1px solid; BORDER-LEFT: #9eb6ce 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #9eb6ce 1px solid;COLOR: #fff300; BORDER-RIGHT: #9eb6ce 1px solid; PADDING-TOP: 3px
}
.sSky TD {
	BORDER-BOTTOM: #9eb6ce 1px solid; BORDER-LEFT: #9eb6ce 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #9eb6ce 1px solid; BORDER-RIGHT: #9eb6ce 1px solid; PADDING-TOP: 3px
}
.sSky TH {
	BACKGROUND-COLOR: #502771
}
.sSky-Fixed {
	BACKGROUND-COLOR: #e4ecf7
}
.sOrange {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, sans serif; FONT-SIZE: 0.8em; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.sOrange TH {
	BORDER-BOTTOM: #cebb9e 1px solid; BORDER-LEFT: #cebb9e 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #cebb9e 1px solid; BORDER-RIGHT: #cebb9e 1px solid; PADDING-TOP: 3px
}
.sOrange TD {
	BORDER-BOTTOM: #cebb9e 1px solid; BORDER-LEFT: #cebb9e 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #cebb9e 1px solid; BORDER-RIGHT: #cebb9e 1px solid; PADDING-TOP: 3px
}
.sOrange TH {
	BACKGROUND-COLOR: #ecd8c7
}
.sOrange-Fixed {
	BACKGROUND-COLOR: #f7ede4
}
.sDark {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, sans serif; COLOR: #ffffff; FONT-SIZE: 0.8em; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.sDark TH {
	BORDER-BOTTOM: #555555 1px solid; BORDER-LEFT: #555555 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #555555 1px solid; BORDER-RIGHT: #555555 1px solid; PADDING-TOP: 3px
}
.sDark TD {
	BORDER-BOTTOM: #555555 1px solid; BORDER-LEFT: #555555 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 4px; PADDING-RIGHT: 6px; WHITE-SPACE: nowrap; BORDER-TOP: #555555 1px solid; BORDER-RIGHT: #555555 1px solid; PADDING-TOP: 3px
}
.sDark TH {
	BACKGROUND-COLOR: #000000
}
.sDark-Fixed {
	BACKGROUND-COLOR: #222222
}
.sDark-Main {
	BACKGROUND-COLOR: #333333
}
.rowsTextBox {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
        border:1px solid #bababa;
        padding-left:5px;
        width:50px;
        background-color:#ffffff;
}
